# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv_p8/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/*.npz
outputs/
models/
data/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlflow_tracking_uri.txt
